:root {
  --text-color: #222;
  --line-color: #222;
  --button-main-color: #555555;
  --background-color: #fff;
  --hover-color: #eee;
  --menu-label-height: 60px;
  --border-radius: 5px;
}

body {
  font-family: Arial;
  font-size: 1.2em;
  margin: 0px;
  /* Without this text in buttons is white-on-white on iOS Safari. No idea what
   * the root cause is. Seems to only affect more recent versions of iOS. Found
   * the fix here: https://stackoverflow.com/a/69888987/943814 */
  -webkit-text-fill-color: var(--text-color); 
}

.content {
  margin: 0 auto;
  position: relative;
  max-width: 640px;
  width: 100%;
  padding: 32px;
}
